---
published: yes
--- 

{% include html.html %}

<body id="hello">
<div id="page">

  {% include header.html %}

  <div class="torunn">
    
    <img src="img/torunn.jpg" data-src="img/torunn.jpg" class="torunn" />

  </div>
  
<article class="hello">
<h4>I'm Torunn, a creative UX &amp; UI designer, with a passion for pixels, pantone, people and photography.</h4>


<p>I help companies nail down their user experiences, sell their products and look great in front of their competitors. </p>

<p>I love a tight deadline, and I don't blow the budget. Sounds good? Let's <a href="skype:torunn_ss?call">Skype</a>.</p>


</article>
<article class="references-title"><p>Don't just take my word for it though..</p></article>
<article class="references">



    <i aria-hidden="true" class="icon reference" data-icon="e607"></i>

<ul class="bxslider">

  <li>
    <blockquote>
      <h6>Torunn is expert at problem solving using research and data, always seeking to better understand our clients and our business to deliver solutions that solve real problems, and have demonstrated significant business impact.</h6>
      <p>Vice president, Product Design</p>
      <p class="title">Stitch Fix</p>
    </blockquote>
  </li>
  <li>
    <blockquote>
      <h6>“The speed at which she’s able to go from idea to sketch, design and prototype to put in the hands of users is truly impressive</h6>
      <p>Product colleague</p>
      <p class="title">Stitch Fix</p>
    </blockquote>
  </li>
  <li>
    <blockquote>
      <h6>“Every time she does a usability movie night or similar presentation, it’s always so enlightening for people inside and outside of product design.”</h6>
      <p>Design colleague</p>
      <p class="title">Stitch Fix</p>
    </blockquote>
  </li>
  <li>
    <blockquote>
      <h6>Despite the fact that the team and leadership were happy with the first concept, she pushed the team to think more broadly. This inspired truly “Northstar” ideas and concepts”</h6>
      <p>Vice president, Product</p>
      <p class="title">Stitch Fix</p>
    </blockquote>
  </li>
  <li> 
    <blockquote>
      <h6>Torunn is a great addition to any team. Her UX concepts have been instrumental in redefining the online strategy for all projects. I would certainly re-hire her again if the opportunity ever arose.</h6>
      <p>Gary Jobe</p>
      <p class="title">Head of Creative Technology at Sky</p>
    </blockquote>
  </li>
  <li>
    <blockquote>
      <h6>Torunn stands out because she has excellent design sense, she works very quickly, proactively and efficiently and she's amiable and works well with people.</h6>
      <p>Herb Kim</p>
      <p class="title">Founder of Thinking Digital</p>
    </blockquote>
  </li>
  <li> 
    <blockquote>
      <h6>She is quite frankly a machine!! A two man workstation doing all the designs and front end code reducing communication issues and hassle factor for everyone.</h6>
      <p>Dave Erasmus</p>
      <p class="title">CEO of Givey</p>
    </blockquote></li>
  <li>
    <blockquote>
      <h6>Torunn was a joy to work with. She had fantastic, creative ideas. Torunn is one of the best front-end developers I have ever worked with.</h6>
      <p>Nick Reavill</p>
      <p class="title">Principal Engineer at Stitch Fix</p>
    </blockquote>
  </li>
  <li>    
    <blockquote>
      <h6>If it didn't cause a maelstrom of issues for all concerned, I'd probably marry @fuselagetown after today.</h6>
      <p>Paul Smith</p>
      <p class="title">Director at Ignite100</p>
    </blockquote>
  </li>
  <li>    
    <blockquote>
      <h6>Torunn's strategic approach to UX and design was a winner from day one. She quickly and elegantly improved the overall product design by focusing on the primary wants and needs of users.</h6>
      <p>Di Gates</p>
      <p class="title">CMO at Givey</p>
    </blockquote>
  </li>
</ul>

</article>

<article class="work-examples">

  <h4>Want to see some examples of my work?</h4>

  <div class="my-process">
    <h6>What do I do?</h6>
  <p>I brainstorm ideas, develop concepts by sketching in Paper App or whiteboards, carry them through to responsive prototypes straight in the browser, and get feedback from users as often as possible.</p>
  <h6>Who have I done this for?</h6>
  <p>For the past 7 years I've been designing products for a variety of start-ups and agencies. Lately I've been working mostly with conferences and SaaS apps, such as <a href="{{ site.baseurl }}/portfolio/givey">Givey</a>, <a href="{{ site.baseurl }}/portfolio/tdc">Thinking Digital</a> and <a href="{{ site.baseurl }}/portfolio/tedxliverpool">TEDxLiverpool</a>.</p>
    <p><a href="{{ site.baseurl }}/portfolio" class="button small">View portfolio</a></p>
</div> 
  <figure class="examples"><div class="dribbble" id="shotsByPlayerId"></div>
    <figcaption>Examples of recent work pulled in from <a href="http://dribbble.com/fuselagetown">Dribbble</a></figcaption></figure>

  
</article>

{% include footer.html %}