<article class="cta">

  <h4>Let's create great experiences together!</h4>
  <p>I'm open for anything that's creative and innovative. Is that your business or product? I'd love to hear about it - <a href="mailto:torunn@skrogstad.no">email me</a>.</p></article>

</div>



<article class="social">


  <p>I love being social, and here's where to find me
  </p>
   <p> <ul>
      <li><a href="http://twitter.com/fuselagetown" class="share twitter"><i aria-hidden="true" class="icon" data-icon="e600"></i><span>Twitter</span></a></li>
      <li><a href="http://dribbble.com/fuselagetown" class="share dribbble"><i aria-hidden="true" class="icon" data-icon="e601"></i><span>Dribbble</span></a></li>
      <li><a href="http://uk.linkedin.com/in/torunnseimskrogstad/" class="share linkedin"><i aria-hidden="true" class="icon" data-icon="e606"></i><span>LinkedIn</span></a></li>
      <li><a href="http://vimeo.com/fuselagetown" class="share vimeo"><i aria-hidden="true" class="icon" data-icon="e605"></i><span>Vimeo</span></a></li>
      <li><a href="http://instagram.com/fuselagetown" class="share instagram"><i aria-hidden="true" class="icon" data-icon="e605"></i><span>Instagram</span></a></li>
    </ul>

</p>


<!--<p class="small">* What is this Fuselagetown stuff, you say? <br />Skrog = Fuselage <br />Stad = Town <br />Simples. </p>-->
</article>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57196002-1', 'auto');
  ga('send', 'pageview');

</script>


</body>

</html>