  <header>
    <h1><a href="{{ site.baseurl }}/">Fuselagetown</a></h1>
    <img src="{{ site.baseurl }}/img/torunn-hello.jpg" alt="Torunn" />
    <a href="#" id="toggle"><i aria-hidden="true" class="icon" data-icon="e607"></i><span>Menu</span></a>

    <nav class="main">   
        <ul>
          <li class="{% if page.url contains 'portfolio' %}active{% endif %}"><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
          <li class="resume {% if page.url contains 'resume' %}active{% endif %}"><a href="{{ site.baseurl }}/resume/">Resume</a></li>
        </ul>
    </nav>
  </header>