section {
		height: auto !important;
		min-height: 200px !important;
}
section.cover { background-position: right !important;  }

.cover h2 em { background-image: url(../img/tedx-liverpool-logo-ie.png); }
header h1 a { background-image: url(../img/tedx-liverpool-logo-pos-ie.png); }

#schedule  ul { max-width: 100%; }
	
#schedule .slot { width: 25%; }

footer { margin-bottom: -20px; margin-top: -20px; }

.page {
	max-width: 70%;
	width: 70%;
	min-width: 70%;
}

	
	
