@-webkit-keyframes heroAnim {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes helloAnim {
	0% { top: -40px; opacity: 0; }
	100% { top: 0px; opacity: 1; }
}


/*.cover div {
	display: block;
	background-color: #000;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: heroAnim 0.5s ease both;
	-webkit-animation-delay: 1.5s;
	-moz-animation: heroAnim 0.5s ease both;
	-moz-animation-delay: 1.5s;
}*/

.cover article {
	-webkit-animation: helloAnim 0.5s ease both;
	-webkit-animation-delay: 0.5s;
	-moz-animation: helloAnim 0.5s ease both;
	-moz-animation-delay: 0.5s;

}

